@media screen and (max-width: 740px) {

    :root {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
        margin: 0 9px 0 0;
    }

    // Mobile Body
    body {
        background: $white;
        justify-content: flex-start;
    }
    // End Mobile Body

    // Mobile Base
    .container {
        padding: 0 16px 0 16px;
        width: auto;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    // End Mobile Base

    // Mobile Header
    header {
        margin: 24px 0 24px 0;
    }
    // End Mobile Header

    // Mobile Article
    article {
        padding: 16px;
        margin-bottom: 10px;
        .user-avatar {
            margin-right: 13px;
            img {
                width: 39px;
                height: 39px;
            }
        }
    }

    .notification-text {
        .messages {
            padding: 16px;
        }
    }

    .picture-comment {
        img {
            width: 39px;
            height: 39px;
        }
    }
    // End Mobile Article
}