article {
    display: flex;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 8px;
    line-height: 20px;
    .user-avatar {
        display: flex;
        justify-content: center;
        margin-right: 19px;
        img {
            width: 45px;
            height: 45px;
            box-shadow: inset 0px 0px 0px 1px hsla(0, 0%, 0%, 0.05);
            border-radius: 50%;
        }
    }
    &.unread {
        background: $snow;
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        box-shadow: inset 0px 0px 0px 1px hsla(0, 0%, 0%, 0.05);
    }
}

.notification-text {
    color: $greyish-blue-dark;
    .user {
        font-weight: 700;
        color: $dark-blue;
    }
    .type {   
        font-weight: 700;
    }
    .time {
        display: block;
        color: $greyish-blue-100;
    }
    .unread-mark {
        font-size: 20px;
        color: $red;
    }
    a {
        text-decoration: none;
        color: $blue !important;
        :hover {
            text-decoration: underline;
        }
    }
    .messages {
        box-sizing: border-box;
        border: 1px solid $greyish-blue-94;
        border-radius: 5px;
        margin-top: 12px;
        padding: 20px;
        &:hover {
            background: $light-blue;
            cursor: pointer;
        }
    }
}

.picture-comment {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    img {
        margin-left: 16px;
        width: 45px;
        height: 45px;
    }
}