// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

// Font stack
$font-stack: 'Plus Jakarta Sans', sans-serif;

// Colors
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$white-95: #F2F2F2;
$snow: #F7FAFD;
$greyish-blue-100: hsl(219, 14%, 63%);
$greyish-blue-94: hsl(211, 68%, 94%);
$greyish-blue-90: hsl(205, 33%, 90%);
$greyish-blue-dark: hsl(219, 12%, 42%);
$dark-blue: hsl(224, 21%, 14%);

:root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

// Fonts
h1 {
    font-size: 24px;
    color: $dark-blue;
    font-weight: 800;
    margin: 0 11px 0 0;
}

// Body
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $greyish-blue-90;
    margin: 0;
    padding: 0;
}

// Base
.container {
    width: 730px;
    background: $white;
    border-radius: 15px;
    padding: 0 32px 0 32px;
}

.hide {
    display: none;
}